*{
    box-sizing: border-box;
}
.billing-container {
    display: flex;
    max-width: 11000px;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(36, 35, 35, 0.1);
  }
  
  .left-half {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .product-image {
    max-width: 100%;
    max-height: 400px;
    border-radius: 5px;
  }
  
  .right-half {
    flex: 1;
    padding: 20px;
   
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color:#d40726ef;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #d40726ef;
  }
  .alert2 {
    position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e1e1e1;
  padding: 12px 16px;
  border-radius: 8px;
  z-index: 1000;
  }
  
  .alert2.success2 {
    background-color: #4CAF50;
  }
    