.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:8%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #666;
    cursor: pointer;
    font-size: 14px;
    height:100%;
  }
  
  .footer-item svg {
    font-size: 24px;
  }
  /* Footer.css */
.footer-item {
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: black;
  }
  
  

  
  .overlay-content {
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px; /* Adjust as needed */
    width: 50%; /* Adjust the width of the overlay content */
  }
  .rw{
    width:6%;
   
  }